@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@1,600&display=swap');



.App {
  font-family: 'Asap Condensed', sans-serif;
  text-align: center;
}


.header{
  font-size: 40px;
}

.nav{
  font-size: 25px;
  display: flex;
  background-color: crimson;
  color: yellow;
  justify-content: space-around;
}

.carddetail{
  display: grid;
  font-size: 20px;
}

h2{
  color: white;
}

.carddetail{
  color: white
}
h1{
  color:gold;
  font-weight: bold;
  font-style: oblique;
}

.buy{
  background-color: black;
  color: aliceblue;
  font-size: 30px;
}

.returnbutton{
  background-color: beige;
  display: flex;
  justify-content: space-around;
}

.tohome{
  background-color: aqua;
  font-size: 20px;
}


.tosearch{
  background-color: aqua;
  font-size: 20px;
}

.cardname{
  color: black;
  font-size: 50px;
}

.setname{
  color: yellow;
}

.disclaimer{
  font-size: 30px;
}

.cardeff{
  color: darkblue;
  font-style: italic;
  display: inline-grid;
  border: 3px solid black;
  padding: 50px;
  max-width: 50%;
  background-color: lightgray;
  
}

.hide{
  display: none;
}

.nothidden{
  display: block;
  margin-left: auto;
  margin-right: auto;

  
}

.searching{
  margin-top: 5px;
  width: 200px;
  height: 300px;
  background-color: black;
  border: 1px solid black;
  overflow: hidden;
  overflow-y:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;

  
}

.lob{
  width: 200px;
  height:200px;
  display: flex;
  margin-left: 100px;
  
}

.lobbutton{
  background-color: red;
  color: yellow;
  width: 100px;
  height: 100px;
}

.navbutton{
  background-color: yellow;
  color:red;
  width: 80px;
  height:50px;
}

.forbidden{
  color: red;
  font-size: 50px;
}

.gridcart{
  display: block;
  border: 3px solid black;
  background-color: white;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.cart{
  color: darkgreen;
}
