@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@1,600&display=swap');



.App {
  font-family: 'Asap Condensed', sans-serif;
  text-align: center;
}


.header{
  font-size: 40px;
}

.nav{
  font-size: 25px;
}




  .nav{
    display: flex;
    
   justify-content: space-around;
   
   


  }

